<h1>Musician List</h1>
<% @musicians.each do |musician| %>
    <div class="musician-index">
        <a href="musicians/<%= musician.id %>"><h3><%= musician.name %></h3></a>
        Section: <%= musician.section.name %><br>
        Services: <%= musician.services %>
    </div>
<% end %>