<h1>Program List</h1>
<% @programs.each do |program| %>
    <div class="musician-index">
        <a href="/programs/<%= program.id %>"><h3><%= program.name %></h3></a>
        Services: <%= program.services %>
        Musicians: <%= program.musicians.count %>
    </div>

<% end %>