<h1>Program List</h1>

<% if admin? %>

<form method="get" action="/programs/new"> 
    <input type="submit" value="New Program">
</form>

<% end %>

<% @programs.each do |program| %>
    <div class="musician-index">
        <a href="/programs/<%= program.id %>"><h3><%= program.name %></h3></a>
        Services: <%= program.services %><br>
        Musicians: <%= program.musicians.count %>
    </div>
<% end %>

