<h1>Welcome to the Houston Symphony Musician Service Tracker!</h1>

<h3>Select an option below:</h3>


<% if logged_in? %>

<p>View all <a href="/sections">sections</a></p>
<p>View all <a href="/musicians">musicians</a></p>
<p>View all <a href="/programs">programs</a></p>

<% else %> 

<p><a href="/signup">Sign Up</a></p>

<p><a href="/login">Log In</a></p>

<% end %>